<head>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<head>
  {% block title %}<title>Cundinas</title>{% endblock %}
</head>
<body>
    {% block content %}

<table class ="table">



  {%for Cundinas in Cundinas_list%}
  <tr>
    <td>  {{Cundinas.cundina_name}}  </td>

<td><a href ="{%url 'detail_view' Cundinas.id %}"> Detail </a> </td>


        {%endfor%}
        </table>

        {% endblock %}
             {% bootstrap_javascript jquery='full' %}

</body>
<h1>Cundinas</h1>
  <nav class = "navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="register/"> Saving Managers </a>
        </li>

            <li class="nav-item">
              <a class="nav-link" href="create/">Create Cundina  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/create2/">Create List of Contibutors  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="lista/"> Reviewing input </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="lista2/"> Review shifts  </a>
                    </li>
