{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
</head>
{% block content %}
<p>
  <p>
    <p>

      <table class ="table">



        {%for Cundinas in Cundinas_list%}
        <tr>
          <td>  {{Cundinas.cundina_name}}  </td>

      <td><a href ="{%url 'detail_view' Cundinas.id %}"> Detail </a> </td>


              {%endfor%}
              </table>
              
<table class="table">
  <thead>
      <tr>
<th scope="col">manager</th>
<th scope="col">cundina_name</th>
<th scope="col">amount</th>
<th scope="col">number_of_persons_involved</th>
    </tr>
</thead>

<tbody>
    <tr>
    <td>{{ object.manager }}</td>
    <td>{{ object.cundina_name }}</td>
    <td>{{ object.amount }}</td>
    <td>{{ object.number_of_persons_involved }}</td>


    </tbody>
    </table>
{%endblock%}
{% bootstrap_javascript jquery='full' %}

<form method ="POST">
  {%csrf_token%}
  {{form.as_p}}
<a class="btn btn-primary" href="/">Go back</a>  </form>
