<head>
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

</head>
<body>
    {% block content %}

<table class ="table">

        {%for Personas in Personas_list%}
        <tr>
          <td>  {{Personas.cundina_name}}  </td>

      <td><a href ="{%url 'detail_view2' Personas.id %}"> Detail </a> </td>
      {%endfor%}
      </table>



      {% endblock %}
           {% bootstrap_javascript jquery='full' %}

           <form method ="POST">
             {%csrf_token%}
             {{form.as_p}}
           <a class="btn btn-primary" href="/">Go back</a>  </form>
