{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
</head>
{% block content %}
<p>
  <p>
    <p>

<table class="table">
  <thead>
      <tr>

<th scope="col">manager</th>


    </tr>
</thead>

<tbody>
    <tr>
    <td>{{ object.manager }}</td>




    </tbody>
    </table>
{%endblock%}
{% bootstrap_javascript jquery='full' %}
